files/FINAL Fracing Group Project.docx
files/PGE430_Midterm Final.docx
files/Well completions final read.docx
files/Zipper Fracturing Paper by ahad.docx
files/Zipper Fracturing Today.docx
files/Ahad_AlE.png