files/FINAL Fracing Group Project.docx
files/PGE430_Midterm Final.docx
files/Well completions final read.docx
files/Zipper Fracturing Paper by ahad.docx
files/Zipper Fracturing Today.docx
files/Digital Twins for the Geothermal Power System.pptx
files/Glue_Research_Presentation_AHAD_MOMIN.pptx
files/Project Presentation-Ahad Momin.pptx